pip install beautifulsoup4==4.9.3
pip install numpy==1.19.5
pip install pandas==1.1.5
pip install scikit_learn==1.1.3
pip install googlesearch_python==1.0.1
pip install whois==0.9.13
pip install gunicorn==20.1.0
pip install requests==2.25.1
pip install werkzeug==2.2.2
pip install Flask==2.0.0

python 3.8